@{
    ViewBag.Title = "Topplistan";
}
<h2>@ViewBag.Title.</h2>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Namn</th>
                <th>Antal plåtar</th>
                <th>Började</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Olle Ollesson</td>
                <td>234</td>
                <td>23-07-2015</td>
            </tr>
            <tr>
                <td>Per Persson</td>
                <td>201</td>
                <td>02-08-2016</td>
            </tr>
            <tr>
                <td>Alex Alexsson</td>
                <td>178</td>
                <td>06-02-2016</td>
            </tr>
        </tbody>
    </table>
</div>

